{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p class="text-success">{{ success }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <div class="row mt-3">
        <div class="col-md-12">
          <h2 class="text-center mb-3">Plot Options</h2>
          <div class="btn-group btn-group-lg d-flex justify-content-center" role="group">
            <button type="button" class="btn btn-primary mr-3" id="plot1-btn">Plot 1</button>
            <button type="button" class="btn btn-primary mr-3" id="plot2-btn">Plot 2</button>
            <button type="button" class="btn btn-primary mr-3" id="plot3-btn">Plot 3</button>
            <button type="button" class="btn btn-primary mr-3" id="plot4-btn">Plot 4</button>
            <button type="button" class="btn btn-primary mr-3" id="plot5-btn">Plot 5</button>
            <button type="button" class="btn btn-primary" id="plot6-btn">Plot 6</button>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <div id="plot-container"></div>
        </div>
      </div>
    
      <script>
        $(document).ready(function() {
          $("#plot1-btn").click(function() {
            $.ajax({
              url: "{% url 'analysis:plot_1' %}",
              type: "GET",
              success: function(response) {
                $("#plot-container").html(response);
              }
            });
          });
        });
      </script>
      
{% endblock %}
