{% extends 'base.html' %}

{% block content %}
    <div class="row">
      <div class="col-12">
          <h1 class="text-center text-gray-800">Home</h1>
      </div>
    </div>

    <div class="row mt-3">
        <!-- Upload Form and Plot Options Card -->
        <div class="col-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    {% if error %}
                        <p class="text-danger">{{ error }}</p>
                    {% endif %}
                    {% if success %}
                        <p class="text-success">{{ success }}</p>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary"><i class="fas fa-upload fa-sm text-white-50"></i> Upload</button>
                    </form>

                    <hr>

                    <h2 class="text-center mb-3">Plot Options</h2>
                    <div class="btn-group btn-group-lg d-flex justify-content-center" role="group">
                        <button type="button" class="btn btn-primary mr-3" id="plot1-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 1</button>
                        <button type="button" class="btn btn-primary mr-3" id="plot2-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 2</button>
                        <button type="button" class="btn btn-primary mr-3" id="plot3-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 3</button>
                        <button type="button" class="btn btn-primary mr-3" id="plot4-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 4</button>
                        <button type="button" class="btn btn-primary mr-3" id="plot5-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 5</button>
                        <button type="button" class="btn btn-primary" id="plot6-btn"><i class="fas fa-chart-line fa-sm text-white-50"></i> Plot 6</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Plot Container -->
    <div class="row mt-5">
        <div class="col-12 text-center">
            <div id="plot-container" class="card shadow"></div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $("#plot1-btn").click(function() {
            $.ajax({
                url: "{% url 'analysis:plot_1' %}",
                type: "GET",
                success: function(response) {
                    $("#plot-container").html(response);
                }
            });
        });
    });
    </script>
{% endblock %}
