{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Escriba la nueva contraseña</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>.errorlist{color:red;}</style>
</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                {% if validlink %}
                                    <h1 class="h4 text-gray-900 mb-4">Escriba la nueva contraseña</h1>
                                    <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                                    <form class="user" action="" method="post">{% csrf_token %}
                                        {{form.new_password1.errors}}
                                        <div class="form-group">
                                            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control form-control-user" placeholder="Introduce la nueva contraseña">
                                        </div>
                                        {{form.new_password2.errors}}
                                        <div class="form-group">
                                            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control form-control-user" placeholder="Repite la nueva contraseña">
                                        </div>
                                        <p><input type="submit" class="btn btn-primary btn-user btn-block" value="Cambiar mi contraseña"></p>
                                    </form>
                                {% else %}
                                    <h1 class="h4 text-gray-900 mb-4">Restablecimiento de contraseñas fallido</h1>
                                    <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
